body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    color:hsl(197, 54%, 97%);
    background-image: url('');
    background-color: #534bae;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  input {
    border-radius: 10px;
    padding: 5px;
    margin: 8px;
  }
  
  input[type=number]{
    width: 50px;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color:black;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    font-size: 60px
    margin-top: 5px;
  }
  .texto{
     color:#01011d;
    font-size: 40px
    margin-top: 5px;
    text-align: left;
  }
  .resultado {
    color:#464091;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
    margin-left: auto;
    margin-right: auto; 
    background-color: rgb(17, 3, 3);
  }
  
  .cod_fonte{
    text-align: left;
  }
  